<h1>Var1 = {{welcomeController.var1}}</h1>
<h1>Var2 = {{welcomeController.var2()}}</h1>


<ul>
    {f:welcomeController.arr:el:
        <li>{{el}}</li>
    :!}
</ul>


{i:welcomeController.isTitle:
    <h1>True</h1>
    :
    <h1>False</h1>
:!}

<h1>TEXT</h1>